<p id="notice"><%= notice %></p>

<p>
  <strong>Expert name:</strong>
  <%= @review.expert_name %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Wine:</strong>
  <%= @review.wine %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
